@tailwind base;
@tailwind components;
@tailwind utilities;

.responsive_color{
  @apply bg-gray-200 dark:bg-gray-950 text-gray-950 dark:text-gray-200;
}
.gbg {
  @apply w-full h-full fixed flex items-center justify-center before:absolute 
  before:h-[300px] before:w-[480px] before:-translate-x-1/2 before:rounded-full 
  before:bg-gradient-radial before:from-gray-100 before:to-transparent 
  before:blur-2xl before:content-[''] 
  after:absolute after:-z-20 after:h-[180px] after:w-[240px] after:translate-x-1/3 
  after:bg-gradient-conic after:from-sky-200 after:via-blue-200 
  after:blur-2xl after:content-[''] 
  before:dark:bg-gradient-to-br before:dark:from-transparent before:dark:to-blue-700 before:dark:opacity-10 
  after:dark:from-sky-900 after:dark:via-[#0141ff] after:dark:opacity-40;
}
.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}
.filled_btn{
  @apply py-1 px-2 rounded-full font-semibold ring-2 
  ring-gray-950 dark:ring-gray-200
  bg-gray-950 dark:bg-gray-200 
  text-gray-200 dark:text-gray-950
  dark:hover:bg-gray-950 hover:bg-gray-200 
  dark:hover:text-gray-200 hover:text-gray-950;
}
.outlined_btn{
  @apply py-1 px-2 rounded-full font-semibold ring-2 
  ring-gray-950 dark:ring-gray-200
  text-gray-950 dark:text-gray-200
  dark:hover:bg-gray-200 hover:bg-gray-950 
  dark:hover:text-gray-950 hover:text-gray-200;
}
.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}
/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 bg-transparent text-sm ring-1;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm bg-transparent ring-1;
}
/* Feed Component */
.feed {
  @apply mt-16 mx-auto w-full max-w-7xl flex justify-center items-center flex-col gap-2;
}
/* PromptCard Component */
.prompt_card {
  @apply flex flex-col z-0 rounded-lg border border-gray-300 bg-white/20 p-6 pb-4 backdrop-blur-lg md:w-[360px] w-full h-fit;
}
.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 md:columns-3;
}